html {
    overflow-x: hidden;
}
.logo {
    margin-top: -720px;
}
.well {
    font-size: 25px;
    margin-top: -320px;
    font-size: 50px;
    line-height: 70px;
    font-style: Inter;
}
.amaze {
    font-size: 15px;
    font-style: Inter;
}
.mouse {
    margin-bottom: -300px;
}
.row-fluid {
    margin-top: -40px;
    height: 380px;
    margin-left: -18px;
    margin-right: -15px;
}
.jumbotron {
    background-color: white;
    height: 380px;
}
.container-about {
    text-align: center;
    padding: 140px;
    padding-top: 5px;
}
.about {
    text-align: center;
    font-size: 30px;
    font-family: 'Inter';
}
.lead {
    font-size: 14px;
    line-height: 40px;
    font-family: 'Inter';
}
.row-fluid2 {
    height: 400px;
    margin-left: -18px;
    margin-right: -15px;
}
.serve {
    position: relative;
    text-align: center;
    margin-top: -230px;
    color: white;
}
.row-fluid3 {
    height: 400px;
    margin-left: -18px;
    margin-right: -15px;
}
.what {
    text-align: center;
    font-size: 30px;
    font-family: 'Inter';
    margin-top: 50px;
}
.icon {
    margin-top: 50px;
    margin-left: 0px;
    position: relative;
    margin-bottom: 50px;
}
.col-4 {
    float: left;
    width: 400px;
    padding: 140px;
    height: 400px;
    margin: -10px;
    margin-left: 36px;
    margin-right: -10px;
}
.card-title1 {
    margin-top: -18px;
    margin-left: -15px;
    font-style: Inter;
}
.card-text1 {
    position: relative;
    margin-left: -180px;
    margin-top: -100px;
    line-height: 40px;
    width: 440px;
    display: none;
    font-style: Inter;
}
.card-title2 {
    margin-top: -18px;
    margin-left: -50px;
    font-style: Inter;
}
.card-text2 {
    position: relative;
    margin-left: -150px;
    margin-top: -100px;
    line-height: 50px;
    display: none;
    width: 420px;
    font-style: Inter;
}
.card-title3 {
    margin-top: -18px;
    margin-left: -110px;
    width: 300px;
    font-style: Inter;
}
.card-text3 {
    position: relative;
    margin-left: -150px;
    margin-top: -99px;
    line-height: 50px;
    display: none;
    width: 410px;
    font-style: Inter;
}
.row-fluid4 {
    height: 700px;
    margin-left: -18px;
    margin-right: -15px;
}
.port {
    text-align: center;
    font-size: 30px;
    font-family: 'Inter';
    margin-top: 50px;
}
.col4 {
    height: 240px;
    margin: 10px;
    display: flex;
    margin: 40px;
    margin-left: 60px
}
.card-image {
    display: block;
    width: 100%;
    height: auto;
}
.card01 {
    padding:5px;
    border: none;
    margin: 10px;
    position: relative;
    display: flex;
}
.image-overlay1 {
    position: absolute;
    width: 278px;
    height: 210px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    opacity: 0;
}
.image-title {
    border: solid;
    margin: 20px;
    padding-right: 80px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
    font-style: Inter;
}
.card2 {
    padding:5px;
    border: none;
    margin: 10px;
    position: relative;
    display: flex;
}
.image-overlay2 {
    position: absolute;
    width: 278px;
    height: 210px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    opacity: 0;
}
.image-title2 {
    border: solid;
    margin: 20px;
    padding-right: 60px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
    font-style: Inter;
}
.card3 {
    padding:5px;
    border: none;
    margin: 10px;
    position: relative;
    display: flex;
}
.image-overlay3 {
    position: absolute;
    width: 278px;
    height: 210px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    opacity: 0;
}
.card4 {
    padding:5px;
    border: none;
    margin: 10px;
    position: relative;
    display: flex;
}
.image-overlay4 {
    position: absolute;
    width: 278px;
    height: 210px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    opacity: 0;
}
.card5 {
    padding:5px;
    border: none;
    margin: 10px;
    position: relative;
    display: flex;
}
.image-overlay5 {
    position: absolute;
    width: 278px;
    height: 210px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    opacity: 0;
}
.image-title5 {
    border: solid;
    margin: 20px;
    padding-right: 60px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
    font-style: Inter;
}
.card6 {
    padding:5px;
    border: none;
    margin: 10px;
    position: relative;
    display: flex;
}
.image-overlay6 {
    position: absolute;
    width: 278px;
    height: 210px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    opacity: 0;
}
.card7 {
    padding:5px;
    border: none;
    margin: 10px;
    position: relative;
    display: flex;
}
.image-overlay7 {
    position: absolute;
    width: 278px;
    height: 210px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    opacity: 0;
}
.card8 {
    padding:5px;
    border: none;
    margin: 10px;
    position: relative;
    display: flex;
}
.image-overlay8 {
    position: absolute;
    width: 278px;
    height: 210px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    opacity: 0;
}
.imgs {
    float: left;
    height: 100%;
    max-width: 100%;
    width: 30%;
    min-width: 200px;
}
.row-fluid5 {
    height: 500px;
    margin-left: -18px;
    margin-right: -15px;
    position: relative;
}
.engine {
    height: 100%;
    width: 100%;
}
#mc_embed_signup {
    background: none;
    color: white;
    position: absolute;
    margin-left: 100px;
    margin-top: -500px;
}
.cont {
    color: rgb(255, 255, 255);
    left: 500px;
}
.validate {
    position: absolute;
    background: none;
}
::placeholder {
    color: white !important;
}
#exampleInputEmail1 {
    margin-top: -38px !important;
    background: none;
    width: 400px !important;
    margin-left: 100px;
}
input {
    color: white !important;
}
#name {
    background: none;
    margin-top: 100px;
    margin-left: 520px;
    width: 400px !important;
}
#comment {
    background: none;
    margin-top: -10px;
    margin-left: 100px;
    width: 820px !important;
    height: 200px;
}
button {
    text-align: center !important;
    margin-left: 450px;
    background: none !important;
    border-color: white !important;
} 
.button {
    margin-left: -400px;
    background-color: white !important;
    color: black !important;
}
.row-fluid6 {
    height: 250px;
    margin-left: -18px;
    margin-right: -15px
}
.social {
    text-align: center;
    margin-top: 20px;
    padding: 50px;
    margin-left: 255px;
}
.media {
    float: left;
    padding: 10px;
}
.clear {
    text-align: center;
    background: none ;
}
.delani {
    margin-top: 50px;
    text-align: center;
    font-family: 'Inter';
}
.year {
    text-align: center;
    font-family: 'Inter';
}